
    <mat-card class="aboutUsContent">
        <mat-card-content >
            <h2>A propos de nous</h2>
            <mat-divider></mat-divider>
            <br>
                <p>Notre entreprise grandit peu à peu grâce à une équipe jeune et 
                    dynamique de 10 personnes devenus amis, et pour certains conjoints. 
                    Proposant toujours des forfaits sur-mesure et innovants.
                    Et c’est ce que nous aimons, écouter vos besoins,
                    pour imaginer des forfaits voyages et des forfaits activitées pertinentes et surprenantes. 
            <br>
                    Cet esprit de coopération que nous cultivons chaque jour est le lien de confiance 
                    le plus motivant que nous ayons. Socle de notre ADN, il nourrit notre créativité, 
                    notre envie de toujours faire mieux et d’apporter une réelle valeur ajoutée.
                </p>
                <span>Merci de nous faire confiance</span>

        </mat-card-content>
      </mat-card>