
<div *ngFor="let f of forfaits" >
        <div *ngIf="f.premium == 1">
                
                <mat-card class="cardPetitForfait"  >
                       
                        <mat-card-header class="cardPetitForfaitHeader">
                              
                                        <img mat-card-image src="{{ f.image }}" alt="">
                             
                               
                                <mat-card-title-group>

                                        <mat-card-title> 
                                                {{f.nom}}
                                        </mat-card-title>
                                       
                                        <mat-card-subtitle class=""> 
                                                <div *ngIf="f.prix">
                                                        <mat-card-subtitle class="price">
                                                                <div *ngIf="f.nouveauPrix; else elseBlock">
                                
                                                                        <div  [ngClass]="{'prixBarre' : 'nouveauPrix'}"> 
                                                                            <p> {{f.prix}} $</p> 
                                                                        </div>
                                                                        <div *ngIf="f.nouveauPrix">
                                                                            <span> {{f.nouveauPrix}} $ </span>
                                                                        </div>
                                                                        <div *ngIf="f.prix && f.nouveauPrix">
                                                                            <p>Un rabais de {{f.prix-f.nouveauPrix}} $ </p>
                                                                        </div>
                                                                    </div>
                                                                
                                                                <ng-template #elseBlock>
                                                                   <span>{{f.prix}} $</span> 
                                                                </ng-template>
                                                                <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star_half</mat-icon>
                                                        </mat-card-subtitle>
                                                </div>
                                        </mat-card-subtitle>
                                </mat-card-title-group>
                        </mat-card-header>

                        <mat-divider></mat-divider>
                       
                        <mat-card-content class="cardPetitForfaitInfo">
                                <p><mat-icon>explore</mat-icon>A destination de : {{f.etablissement.villeEtablissement}} en {{f.pays}}</p>
                                <p><mat-icon>location_city</mat-icon>Au {{f.etablissement.nomEtablissement}}</p>
                                <p><mat-icon> insert_invitation</mat-icon>{{f.dateDebut}} - {{f.dateFin}}</p> 
                        
                        </mat-card-content>
                </mat-card>
        </div>
</div>