:host {
    display:block;
    padding: 100px;
    margin: 10px ;
    background-color: #f0eeee;
    border-radius: 5px;
}

.cardPetitForfait {
    background-color: #405C77;
    color: azure;
    margin: 20px;
    height: 250px;
    width: 300px;
    box-shadow: 8px 8px 8px #8b8686;
  }

  .cardPetitForfaitHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
  }
 
.prixBarre {
text-decoration: line-through;
}

.image {
  width: 50%;
}

.price{
color: #f0ffff;
}

h2{
  color:black;
}