:host {
    display:block;
    padding: 100px;
    margin: 10px ;
    background-color: #537D74;
    border-radius: 5px;
}

img{
  width: 300px;
}


.cardPetitForfait {
    background-color: #405C77;
    color: #1d2a37;
    margin: 20px;
    max-width: 300px;
    height: 500px;
  }

  .cardPetitForfaitHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
 
.prixBarre {
text-decoration: line-through;
}

.image {
  width: 50%;
}

span{
  font-size: 22px;
  color: #b88916;
  font-weight: 500;
  margin-bottom: 20px;
}

p{
  display: flex;
  align-items: center;
}

.cardPetitForfaitInfo{
  margin-top: 20px;
}
