<div>
    <app-infos-forfait [premium]="forfait?.premium"></app-infos-forfait>
    <div>
       
        <app-infos-forfait [nom]="forfait?.nom"></app-infos-forfait>
        <app-etablissement> [nomEtablissement]="etablissement?.nomEtablissement" </app-etablissement>
        <app-infos-forfait [dateDebut]="forfait?.dateDebut" [dateFin]="forfait?.dateFin"></app-infos-forfait>
        <app-prix [prix]="forfait?.prix"></app-prix>
        <app-prix [nouveauPrix]="forfait?.nouveauPrix"></app-prix>
    </div>
</div>
