:host {
    display:block;
    min-width: 100px;
    padding: 20px;
}

.premiumStyle{
    border: 5px solid #7761a7;
}

.forfaitCompletCard {
    background-color: #101011;
    margin-top: 20px;
    color: white;
}

.forfaitCompletFlex {
    display: flex;
    flex-direction: row;
}

.forfaitCompletImg {
    width: 25%;
    padding-top: 5px;
}

.forfaitCompletText {
    margin-left: 20px;
}

.prixBarre {
    text-decoration: line-through;
    }
