:host {
    display:block;
    min-width: 100px;
    padding: 20px;
}

.premiumStyle{
    border: 5px solid rgb(178, 150, 13);
}

.forfaitCompletCard {
    background-color: rgb(134, 168, 135);
    margin-top: 20px;
}

.forfaitCompletFlex {
    display: flex;
    flex-direction: row;
}

.forfaitCompletImg {
    width: 25%;
    padding-top: 5px;
}

.forfaitCompletText {
    margin-left: 20px;
}

.prixBarre {
    text-decoration: line-through;
    }
