<div *ngFor="let f of forfaits">

    <mat-card [ngClass]="{'premiumStyle' : f.premium == 1}" class="forfaitCompletCard">

        <mat-card-header class="forfaitCompletFlex">
            <mat-card-title>
                <h2>{{ f.nom }} </h2>
            </mat-card-title>

            <mat-card-subtitle class="forfaitCompletHeader">
                <div *ngIf="f.nouveauPrix!= 0; else elseBlock">
                <div [ngClass]="{'prixBarre' : 'nouveauPrix'}">
                    <p> {{f.prix}} $</p>
                </div>
                <div [ngClass]="{'premiumprice' : f.premium == 1} " *ngIf="f.nouveauPrix!= 0">
                    <p> {{f.nouveauPrix}} $ </p>
                </div>
                <div *ngIf="f.prix && f.nouveauPrix">
                    <p>Un rabais de {{f.prix-f.nouveauPrix}} $ </p>
                    <br>
                </div>
                </div>
                <ng-template #elseBlock>
                    <span> {{f.prix}} $ </span>  
                </ng-template>
               
                <p class="dateMarge"><span>Date :</span>  {{f.dateDebut}} - {{f.dateFin}}</p>
                <p> <span>Pays :</span>  {{f.pays}}</p>
                <p> <span> Description :</span> {{ f.description }}</p>
                <p> <span>Code : </span> {{ f.code }}</p>
<br>
                <mat-divider></mat-divider>
<br>
                <p> <span> Etablissement : </span>{{f.etablissement.nomEtablissement}}</p>
                <p> <span> Adresse :</span> {{f.etablissement.adresseEtablissement}} - {{f.etablissement.villeEtablissement}} </p>
                <p> <span>  Téléphone : </span>{{f.etablissement.telephoneEtablissement}} </p>
                <p> <span> Courriel : </span>{{f.etablissement.courrielEtablissement}} </p>
                <p> <span>Site web :</span>{{f.etablissement.siteWebEtablissement}} </p>
                <p> <span>Description établissement :</span>{{f.etablissement.descriptionEtablissement}}</p>
            </mat-card-subtitle>

      <img mat-card-image src="{{ f.image }}" alt="">
    </mat-card-header>
  </mat-card>
</div>
