

<div *ngFor="let f of forfaits" >
        <div *ngIf="f.premium">
                
                <mat-card class="cardPetitForfait"  >
                       
                        <mat-card-header class="cardPetitForfaitHeader">
                                <mat-card-title-group>
                                        <img mat-card-image src={{f.image}} class="image" alt="Photo of a Shiba Inu">
                                        
                                        <mat-card-title> 
                                                {{f.nom}}
                                        </mat-card-title>
                                       
                                        <mat-card-subtitle> 
                                                <div *ngIf="f.prix">
                                                        <mat-card-subtitle class="price">
                                                                <div *ngIf="f.nouveauPrix; else elseBlock">
                                
                                                                        <div  [ngClass]="{'prixBarre' : 'nouveauPrix'}"> 
                                                                            <h3> {{f.prix}} $</h3> 
                                                                        </div>
                                                                        <div *ngIf="f.nouveauPrix">
                                                                            <h3> {{f.nouveauPrix}} $ </h3>
                                                                        </div>
                                                                        <div *ngIf="f.prix && f.nouveauPrix">
                                                                            <h4> {{f.prix-f.nouveauPrix}} $ </h4>
                                                                        </div>
                                                                    </div>
                                                                
                                                                <ng-template #elseBlock>
                                                                   <div></div> {{f.prix}} $
                                                                </ng-template>
                                                       
                                                        </mat-card-subtitle>
                                                </div>
                                        </mat-card-subtitle>
                                </mat-card-title-group>
                        </mat-card-header>
                       
                        <mat-card-content>
                                <p>{{f.etablissement.nomEtablissement}}</p>
                                <p>{{f.dateDebut}} - {{f.dateFin}}</p> 
                        </mat-card-content>
                </mat-card>
        </div>
</div>