:host {
    display:block;
    padding: 10px;
    margin: 10px ;
}

.cardPetitForfait {
    background-color: rgb(16, 75, 51);
    color: azure;
    margin: 10px;
    height: 250px;
  }

  .cardPetitForfaitHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
  }
 
.prixBarre {
text-decoration: line-through;
}

.image {
  width: 50%;
}

.price{
color: #f0ffff;
}