h2{
    font-size: 26px;
}

table{
    width: 100%;
    color: #1d2a37;
    border-left: 1px solid #85796f;
    border-right: 1px solid #85796f;
}

table th{
    background-color: #2c2c2c;
    color: white;
    font-size: 16px;
}

.adminTop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.adminFooter{
    background-color:  #85796f;
}

.adminBtn{
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color: #405C77;
    border: none;
    font-size: 18px;
    margin: 10px;
    color:white;
    padding-right: 20px;
    cursor: pointer;
}

.adminBtn:hover {
    background-color: #2d445a;
}

.ml-auto {
    margin-left: auto;
}

.td-actions {
    width: 100px;
}


.tableBtn {
    border: none;
    color: #405C77;
    cursor: pointer;
}

.tableBtn:hover {
    color: #2d445a;
}
